<launch>
  <master auto="start"/>

  <!--<node pkg="map_server" type="map_server" name="mapping" output="screen" args="$(find planner)/map.yaml">
  </node>-->

  <node pkg="laser_tf" type="tf_broadcaster" name="laser_tf"></node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!--<remap from="cmd_vel" to="robot0/cmd_vel" />-->
    <!--<remap from="odom" to="/odom" />-->
    <rosparam file="$(find planner)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find planner)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find planner)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find planner)/global_costmap_params.yaml" command="load" />
    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
    <!--<param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/>-->
    <param name="base_global_planner" value="rrt/RRTxPlanner"/>
    <param name="controller_frequency" value="2.0" />
    <param name="planner_frequency" value="0.0" />
    <rosparam file="$(find planner)/base_local_planner_params.yaml" command="load" />
  </node>


	<node pkg="gmapping" type="slam_gmapping" name="gmap">
	<!--<param name="base_frame" value="/robot0" />-->
  <param name="delta" value="0.1" />
  <param name="maxUrange" value="6.0" />
  <param name="maxRange" value="6.0" />
	</node>

	<!--<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard">
	<remap from="cmd_vel" to="robot0/cmd_vel" />
	</node>-->

</launch>
