<launch>
  <master auto="start"/>

  <!--<node pkg="laser_tf" type="tf_broadcaster" name="laser_tf"></node>-->
  
  <node pkg="map_server" type="map_server" name="map_server" args="$(find planner)/config/map.yaml"></node>
  <!--<node pkg="amcl" type="amcl" name="amcl"> </node>-->

  <include file="$(find odometry)/launch/odometry.launch" />
   
  <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster" args="0 0 0 0 0 0 1 map odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser_tf_broadcaster" args="0 0 0 0 0 0 1 base_link laser 100" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!--<remap from="cmd_vel" to="motor_control/twist" />-->
    <rosparam file="$(find planner)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find planner)/config/local_costmap.yaml" command="load" />
    <!--<rosparam file="$(find planner)/global_costmap_params.yaml" command="load" />-->
    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
    <!--<param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/>-->
    <param name="base_global_planner" value="rrt/RRTxPlanner"/>
    <!--<param name="base_gloabal_planner" value="navfn/NavfnROS" />-->
    <param name="controller_frequency" value="2.0" />
    <param name="planner_frequency" value="0.0" />
    <rosparam file="$(find planner)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
