<launch>
  <master auto="start"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="motor_control/twist" />
    <rosparam file="$(find planner)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find planner)/config/local_costmap.yaml" command="load" />
    <!--<rosparam file="$(find planner)/global_costmap_params.yaml" command="load" />-->
    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
    <!--<param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/>-->
    <param name="base_global_planner" value="rrt/RRTxPlanner"/>
    <!--<param name="base_gloabal_planner" value="navfn/NavfnROS" />-->
    <param name="controller_frequency" value="2.0" />
    <param name="planner_frequency" value="0.0" />
    <rosparam file="$(find planner)/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
